sample_rate: 24000
n_fft: 1024
hop_length: 240
window_length: 960
n_mels: 80
n_freq_bins: 513
mel_fmin: 0.0
mel_fmax: 12000.0
log_floor: 1.0e-10
loudness_target_lufs: -23.0
segment_min_sec: 0.5
segment_max_sec: 30.0
d_model: 512
d_speaker: 192
d_f0: 2
n_codebooks: 8
rvq_vocab_size: 1024
control_slots: 4
control_vocab_size: 64
d_voice_state: 8
d_voice_state_explicit: 8
d_voice_state_ssl: 128
codebook_dim: 128
latent_dim: 512
enc_state_dim: 512
enc_state_frames: 32
dec_state_dim: 256
dec_state_frames: 32
d_event_trace: 64
uclm_vq_bins: 128
phoneme_vocab_size: 200
n_languages: 4
lora_rank: 4
lora_alpha: 8
lora_delta_size: 32768
d_scene_state: 64
uclm_n_heads: 8
uclm_n_layers: 12
uclm_dropout: 0.1
uclm_max_seq_len: 2048
uclm_context_frames: 200
uclm_block_size: 4
max_lookahead_hops: 6
hq_threshold_q: 0.3
f0_smoothing_frames: 5
d_style: 128
d_text_encoder: 256
n_text_encoder_layers: 6
n_text_encoder_heads: 4
text_encoder_ff_dim: 1024
n_voice_source_params: 8
n_acoustic_params: 32
