language: ja
tts_mode: pointer
pointer_loss_weight: 0.5
progress_loss_weight: 0.2
alignment_loss_type: none
pointer_target_source: heuristic_bootstrap
legacy_duration_loss_weight: 0.0
voice_state_loss_weight: 0.0
delta_voice_state_loss_weight: 0.0
train_steps: 100000
train_batch_size: 16
train_device: cuda
train_sampling_strategy: balanced

quality_gate_enabled: true
quality_gate_max_invalid_ratio: 0.0
quality_gate_min_utterances_per_dataset: 1
quality_gate_min_speakers_per_dataset: 1
quality_gate_token_samples: 64

rvq_vocab_size: 1024
control_vocab_size: 64
